.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.view-cart-btn {
  cursor: pointer;
  background: #333;
  box-shadow: 0 0 0 rgba(0,0,0,.3);
  border: none;
  border-radius: 3px;
  padding: 14px 24px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0,0,0,.8);
  transition: all .3s;
  z-index: 1;
}
.view-cart-btn:hover {
  background: #555;
  transform: scale(1.02);
}