.modal {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	visibility: hidden;
}
.modal.show {
	visibility: visible;
}
.modal-overlay {
	background: rgba(0,0,0, 0.8);
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
	transition: all .4s;
}
.show .modal-overlay {
	opacity: 1;
}

.modal-content {
	background: #fff;
	position: relative;
	z-index: 2;
	padding: 15px;
	max-width: 850px;
	width: 100%;
	opacity: 0;
	transform: translateY(30px);
	transition: all .4s;
}
.show .modal-content {
	opacity: 1;
	transform: translateY(0);
}

.modal-close {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}